.FullPost {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 1230px;
    padding: 25px 30px;
    width: 80%;
}

.Title {
    margin: 0;
    text-transform: capitalize;
}

.Body {
    font-size: .9rem;
    margin: 6px 0 0;
}

.Message {
    text-align: center;
}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
    margin: 10px 0 0;
    padding: 0;
    outline: none;
}

.Edit button:hover,
.Edit button:active {
    color: #cc2cc9;
}

.Edit button.Delete {
    color: #f7218c;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: #cc2cc9;
}