.Post {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    padding: 16px;
    transition: background-color 200ms ease-in-out;
    width: 400px;

    &:hover, &:active {
        background-color: rgba(252, 224, 255, .5);
    }

    .Title {
        margin: 0;
        text-transform: capitalize;
    }

    .Author {
        color: #f7218c;
        font-size: 1rem;
        margin: 4px 0 15px;
    }

    .Body {
        font-size: .9rem;
        margin: 6px 0 0;
    }
}